# Valeurs pour l'environnement dev (develop)
# Images depuis Harbor : 46.101.199.158.nip.io/dev/repertoire-backend:latest
environment: dev

imageRegistry: "46.101.199.158.nip.io/dev"
imagePullSecrets: [harbor-creds]

backend:
  replicaCount: 1
  autoscaling:
    enabled: false

frontend:
  replicaCount: 1
  autoscaling:
    enabled: false

mongodb:
  persistence:
    enabled: false  # emptyDir pour dev
