apiVersion: v1
kind: Service
metadata:
  name: {{ include "repertoire.fullname" . }}-frontend
  labels:
    {{- include "repertoire.frontend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/component: frontend
    app.kubernetes.io/instance: {{ .Release.Name }}
