apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  type: {{ .Values.frontend.serviceType }}
  ports:
    - port: 80
      targetPort: 80
      name: http
  selector:
    app: frontend
