apiVersion: v1
kind: Service
metadata:
  name: {{ include "repertoire.fullname" . }}-mongodb
  labels:
    {{- include "repertoire.mongodb.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 27017
      targetPort: mongodb
      protocol: TCP
      name: mongodb
  selector:
    app.kubernetes.io/component: mongodb
    app.kubernetes.io/instance: {{ .Release.Name }}
